<div class="filters">
    <h2>Tooted</h2>
    <mat-form-field>
        <mat-label>Vali tooteklass</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="systlad">Süstlad</mat-option>
            <mat-option value="kanyylid">Kanüülid</mat-option>
            <mat-option value="kindad">Kindad</mat-option>
            <mat-option value="kateetrid">Kateetrid</mat-option>
            <mat-option value="kreemid">Kreemid</mat-option>
            <mat-option value="maskid">Maskid</mat-option>
           
        </mat-select>
    </mat-form-field>
</div>


<div class="items">
<div class="item">
<div class="item-thumbnail-container">
    <img src="https://cdn.stocksnap.io/img-thumbs/960w/sailing-boats_HR0DZ9KYZC.jpg" 
    alt="paadid"
    class="item-thumnail"/>
</div>
<div class="item-description">
    <p class="item-name">Nimi</p>
</div>
</div>
</div>