<div class="filters">
    <h2>Ettevõtted</h2>
    <mat-form-field>
        <mat-label>Vali ettevõte</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="Business1">Ettevõte1</mat-option>
            <mat-option value="Business2">Ettevõte2</mat-option>
            <mat-option value="Business2">Ettevõte2</mat-option>
                     
        </mat-select>
    </mat-form-field>

    <h2>Laod</h2>
    <mat-form-field>
        <mat-label>Vali ladu</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="WH1">Ladu1</mat-option>
            <mat-option value="WH2">Ladu2</mat-option>
            <mat-option value="WH3">Ladu3</mat-option>
            <mat-option value="WH4">Ladu4</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<!-- 
<div class="items">
<div class="item">
<div class="item-thumbnail-container">
    <img src="https://cdn.stocksnap.io/img-thumbs/960w/sailing-boats_HR0DZ9KYZC.jpg" 
    alt="paadid"
    class="item-thumnail"/>
</div>
<div class="item-description">
    <p class="item-name">Nimi</p>
</div>
</div>
</div>
 -->
